*{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

.top-header-contenedor{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #000;
    align-items: center;
    border-top: 0.2rem solid #c7c7c7;
    margin-right: 0rem;
}
.contenedor-titulo{
    text-align: center;
}
.contenedor-titulo h1{
    color: blueviolet;
}
.contenedor-redes{
    display: flex;
    align-items: flex-start;
    font-size: 3rem;
    color: #c7c7c7;
}
.contenedor-redes img{
    width: 2.8rem;
}
.contenedor-redes a{
    margin-left: 2rem;
}
.contenedor-form input{
    height: 3.9rem;
    font-size: 1.7rem;
    width: 30rem;
}
.contenedor-form button{
    width: 8rem;
    font-size: 1.7rem;
}
.header{
    background-color: #252525;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0rem;
    flex-wrap: wrap;
}
.header nav{
    padding: 0rem;
}
.header a{
    color: #c7c7c7;
}
.nav-ul li{
    padding: 0.2rem 7rem 0.2rem 7rem;
    font-size: 2.2rem;
    border-right: 1px solid #c7c7c7;
}
.nav-ul:nth-child(1){
    border-left: 1px solid #c7c7c7;
}
a{
    text-decoration: none;
    color: #c7c7c7;
}
.section-carousel{
    margin-top: 0rem;
    padding: 0rem;
    margin-bottom: 8rem;
}
.section-carousel img{
    height: 40rem;
}
.section-promociones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.section-promociones p{
    font-family: Rubik , sans-serif;
}

.section-promociones article{
    display: flex;
    align-items: center;
}
.section-promociones img{
    width: 5.5rem;
    height: 6rem;
    margin-right: 1rem;
}
.div{
    width: 18rem;
    font-size: 2rem;
}
.div-diferent{
    width: 19rem;
    font-size: 2rem;
}
.productos{
    display: flex;
    justify-content: center;
    margin-left: 4rem;
    margin-right: 4rem;
}
.titulo-productos{
    margin-top: 7rem;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}
.productos article{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 27rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
.productos img{
    width: 23rem;
}
.productos p{
    font-size: 1.6rem;
    text-align: center;
    font-family: Rubik , sans-serif;
}
.productos h3{
    text-align: center;
    color: red;
    margin-top: 1rem;
    font-family: Rubik , sans-serif;
}
.productos button{
    font-size: 1.3rem;
    height: 3.5rem;
    width: 10rem;
    margin-top: 1rem;
    margin-left: 1.8rem;
    margin-bottom: 2rem;
}
.productos-titulo{
    padding-top: 2.5rem;
    margin-left: 10rem;
}
.productos-categorias{
    text-align: center;
    margin-top: 3rem;
    padding-top: 1rem;
}
.todos-los-productos{
    margin-top: 3rem;
    padding-left: 3rem;
    margin-bottom: 3rem;
    padding-right: 2rem;
}
.productos-categorias a{
    font-size: 1.8rem;
    color: blueviolet;
}
.productos-categorias article{
    padding-top: 1rem;
}
.todos-los-productos article p{
    font-size: 2rem;
    margin-top: 4rem;
    padding-left: 1rem;
    width: 80%;
}
.todos-los-productos button{
    text-align: center;
    margin-top: 2rem;
    width: 9rem;
    height: 4rem;
    font-size: 1.3rem;
    margin-right: 2rem;
}
.todos-los-productos article:nth-child(1){
    margin-top: 3rem;
}
.todos-los-productos article{
    display: flex;
    margin-bottom: 3rem;
}
.todos-los-productos h3{
    color: red;
    padding-left: 2rem;
    font-size: 2.2rem;
}
.todos-los-productos img{
    width: 26rem;
}
.footer{
    background-color: #000;
    margin-bottom: -1rem;
}
.footer-top{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 5rem;
    align-items: flex-start;
}
.footer-top a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-top p{
    font-size: 3.4rem;
    font-family: Rubik , sans-serif;
}
.footer-top input{
    width: 45rem;
    height: 4.5rem;
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}
.footer-top button{
    width: 45rem;
    height: 4rem;
    font-size: 2rem;
    background-color: #252525;
    text-align: center;
}
.footer-form{
    width: 45rem;
}
.footer-body{
    display: flex;
    justify-content: center;
    margin-bottom: 7rem;
    flex-wrap: wrap;
    color: #c7c7c7;
}
.footer-body-direccion{
    width: 30rem;
    font-size: 2.5rem;
}
.footer-body-contacto{
    margin-left: 24rem;
    width: 44rem;
    font-size: 2.4rem;
    padding-top: 2rem;
}
.footer-final{
    background-color: #252525;
    font-size: 2rem;
    color: #c7c7c7;
    text-align: center;
}
.main{
    --bs-gutter-x: 0rem;
}
@media (max-width:1200px){
    .top-header-contenedor{
        padding-top: 2rem;
        padding-bottom: 2rem;
        justify-content: center;
    }
    .section-promociones{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    .contactos-form{
        padding: 0rem;
    }
    .contenedor-form input{
        height: 4rem;
        width: 35rem;
    }
    .contenedor-form button{
        width: 8rem;
        font-size: 1.7rem;
    }
    .contenedor-redes{
        display: none;
    }
    .contenedor-titulo{
        padding: 0rem;
        text-align: center;
    }
    .nav-ul li{
        padding: 0.2rem 5rem 0.2rem 5rem;
        font-size: 2.2rem;
    }
    .footer-top p{
        margin-right: 4rem;
    }
    .footer-body-contacto{
        margin-left: 20rem;
        width: 44rem;
        font-size: 2.4rem;
        padding-top: 2rem;
    }
    .footer-top a{
        margin-bottom: 1rem;
    }
    .footer-top input{
        width: 40rem;
    }
    .footer-top button{
        width: 40rem;
    }
    .footer-form{
        margin-bottom: 2rem;
    }   
}
@media (max-width:991px){
    .contenedor-titulo{
        display: flex;
        justify-content: center;
        padding: 0rem;
    }
    .top-header div{
        padding: 0;
    }
    .top-header-contenedor h1{
        font-size: 3.6rem;
    }
    .header-nav{
        --bs-navbar-nav-link-padding-x: none;
    }
    .contenedor-form{
        display: none;
    }
    .nav-ul li{
        padding: 0.2rem 4rem 0.2rem 4rem;
        font-size: 1.8rem;
    }
    .section-promociones{
        display: flex;
    }
    .section-carousel img{
        height: 35rem;
    }
    .productos{
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .footer-body-contacto{
        margin-left: 10rem;
        width: 44rem;
        font-size: 2.4rem;
        padding-top: 2rem;
    }
    .footer-top a{
        margin-bottom: 1rem;
    }
    .footer-form{
        margin-bottom: 2rem;
        width: 40rem;
        padding-right: 1rem;
    }
}
@media (max-width:768px){
    .top-header-contenedor h1{
        font-size: 3rem;
    }
    .header{
        justify-content: start;
        background-color: #c7c7c7;
    }
    .section-promociones article{
        margin-top: 2rem;
    }
    .contenedor-nav{
        margin-right: 1rem;
    }
    #boton{
        padding: 1rem 1rem 1rem 2rem;
    }
    #boton button{
        width: 6rem;
        height: 4rem;
        margin-left: 4rem;
    }
    #boton span{
        font-size: 2rem;
    }
    .contenedor-ul a{
        color: #000;
        font-size: 3rem;
    }
    .contenedor-ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .contenedor-form{
        display: none;
    }
    .productos{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .top-header{
        display: flex;
        justify-content: center;
    }
    .top-header-contenedor h1{
        font-size: 3.6rem;
    }
    .productos{
        justify-content: center;
    }
    .section-carousel img{
        height: 30rem;
    }
    .footer-body-direccion{
        text-align: start;
    }
}
@media (max-width:576px){
    .contenedor-ul{
        margin-right: 28rem;
    }
    .section-promociones{
        display: flex;
        flex-wrap: wrap;
    }
    .productos{
        margin-left: 8rem;
        margin-right: 8rem;
    }
    .section-carousel img{
        height: 25rem;
    }
    .top-header h1{
        font-size: 3rem;
    }
}
.main-contactos{
    background-color:#ebebeb;
}
.titulo-contac{
    text-align: center;
}
.titulo-contactos{
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    text-align: start;
    padding-left: 10rem;
}
.titulo-contactos h2{
    font-size: 2.5rem;
}
.contactos-section p{
    font-size: 1.7rem;
}
.contactos-section h2{
    font-size: 2.2rem;
    padding-left: 1rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
}
.contactos-section h3{
    font-size: 2.3rem;
    padding-top: 2rem;
    color: blueviolet;
}
.contactos-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}
.contactos-informacion{
    margin-right: 3rem;
    padding: 1rem;
    margin-top: 2rem;
}
.contactos-registro{
    margin-top: 2rem;
    margin-right: 3rem;
}
.sacar-position{
    position: static;
}
.contactos-gmail{
    width: 50%;
    margin-right: 2rem;
    margin-left: 1rem;
    font-size: 1.5rem-;
}
.contactos-password{
    width: 50%;
    margin-right: 1rem;
    font-size: 1.5rem;
}
.contactos-form-textarea{
    margin-left: 1rem;
    margin-right: 1rem;
}
.contactos-form-textarea textarea{
    height: 10rem;
}
.contactos-mapa iframe{ 
    width: 100%;
    height: 10rem;
    height: 30rem;
}
.contactos-form-inputs{
    display: flex;
    height: 6rem;
}
.contactos-form button{
    margin-left: 1rem;
    width: 97%;
    height: 4rem;
    font-size: 2rem;
}
.contactos-form{
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.ayuda-main-contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 10rem 5rem 10rem;
    --bs-accordion-btn-bg: none;

}
.ayuda-main{
    background-color:#ebebeb;
}
.ayuda-main button{
    font-size: 2.5rem;
    background-color: #252525;
    color: #c7c7c7;
    position: static;
    padding: 1.5rem;
}
.ayuda-main h3{
    font-size: 2rem;
    color: blueviolet;
}
.ayuda-main p{
    font-size: 2rem;
}
