*{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    
}
body{
    font-family: granRegular;
    width: 100%;
    overflow-x: hidden;
}
.top-header-contenedor{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #000;
    align-items: center;
    border-top: 0.2rem solid #c7c7c7;
}
.contenedor-titulo{
    text-align: center;
}
.contenedor-redes{
    display: flex;
    align-items: flex-start;
    font-size: 3rem;
    color: #c7c7c7;
}
.contenedor-redes img{
    width: 2.8rem;
}
.contenedor-redes a{
    margin-left: 2rem;
}
.contenedor-form input{
    height: 3.9rem;
    font-size: 1.7rem;
    width: 30rem;
}
.contenedor-form button{
    width: 8rem;
    font-size: 1.7rem;
}
.header{
    background-color: #252525;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    position: sticky;
    top: 0rem;
    flex-wrap: wrap;
}
.header nav{
    padding: 0rem;
}
.header a{
    color: #c7c7c7;
}
.nav-ul li{
    padding: 0.2rem 7rem 0.2rem 7rem;
    font-size: 2.2rem;
    border-right: 1px solid #c7c7c7;
}
.nav-ul:nth-child(1){
    border-left: 1px solid #c7c7c7;
}
a{
    text-decoration: none;
    color: #c7c7c7;
}
.section-carousel{
    margin-top: 0rem;
    padding: 0rem;
    margin-bottom: 8rem;
}
.section-promociones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.section-promociones p{
    font-family: Rubik , sans-serif;
}

.section-promociones article{
    display: flex;
    align-items: center;
}
.section-promociones img{
    width: 5.5rem;
    height: 6rem;
    margin-right: 1rem;
}
.div{
    width: 18rem;
    font-size: 2rem;
}
.div-diferent{
    width: 19rem;
    font-size: 2rem;
}
.productos{
    display: flex;
    justify-content: center;
}
.productos h2{
    margin-top: 7rem;
    text-align: center;
    font-size: 3rem;
}
.productos article{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 4rem;
    width: 27rem;
}
.productos img{
    width: 23rem;
}
.productos p{
    font-size: 1.6rem;
    text-align: center;
    font-family: Rubik , sans-serif;
}
.productos h3{
    text-align: center;
    color: red;
    margin-top: 1rem;
    font-family: Rubik , sans-serif;
}
.productos button{
    font-size: 1.3rem;
    height: 3.5rem;
    width: 10rem;
    margin-top: 1rem;
    margin-left: 1.8rem;
    margin-bottom: 2rem;
}
.footer{
    background-color: #000;
    margin-top: 5rem;
}
.footer-top{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 5rem;
    align-items: flex-start;
}
.footer-top a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-top p{
    font-size: 3.4rem;
    font-family: Rubik , sans-serif;
}
.footer-top input{
    width: 45rem;
    height: 4.5rem;
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}
.footer-top button{
    width: 45rem;
    height: 4rem;
    font-size: 2rem;
    background-color: #252525;
    text-align: center;
}
.footer-form{
    width: 45rem;
}
.footer-body{
    display: flex;
    justify-content: center;
    margin-bottom: 7rem;
    flex-wrap: wrap;
    color: #c7c7c7;
}
.footer-body-direccion{
    width: 30rem;
    font-size: 2.5rem;
}
.footer-body-contacto{
    margin-left: 24rem;
    width: 44rem;
    font-size: 2.4rem;
    padding-top: 2rem;
}
.footer-final{
    background-color: #252525;
    font-size: 2rem;
    color: #c7c7c7;
    text-align: center;
}
@media (max-width:1200px){
    .top-header-contenedor{
        padding-top: 2rem;
        padding-bottom: 2rem;
        justify-content: center;
    }
    .section-promociones{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    .contenedor-titulo{
    }
    .contenedor-form input{
        height: 4rem;
        width: 35rem;
    }
    .contenedor-form button{
        width: 8rem;
        font-size: 1.7rem;
    }
    .contenedor-redes{
        display: none;
    }
    .nav-ul li{
        padding: 0.2rem 6rem 0.2rem 6rem;
        font-size: 2.2rem;
    }
    .footer-top p{
        margin-right: 4rem;
    }
    .footer-body-contacto{
        margin-left: 20rem;
        width: 44rem;
        font-size: 2.4rem;
        padding-top: 2rem;
    }
    .footer-top a{
        margin-bottom: 1rem;
    }
    .footer-form{
        margin-bottom: 2rem;
    }   
}
@media (max-width:990px){
    .contenedor-titulo{
        display: flex;
        justify-content: center;
        padding: 0rem;
    }
    .top-header div{
        padding: 0;
    }
    .top-header-contenedor h1{
        font-size: 3.6rem;
    }
    .contenedor-form{
        display: none;
    }
    .nav-ul li{
        padding: 0.2rem 4rem 0.2rem 4rem;
        font-size: 2rem;
    }
    .section-promociones{
        display: flex;
    }
    .footer-body-contacto{
        margin-left: 10rem;
        width: 44rem;
        font-size: 2.4rem;
        padding-top: 2rem;
    }
    .footer-top a{
        margin-bottom: 1rem;
    }
    .footer-form{
        margin-bottom: 2rem;
    }
}
@media (max-width:768px){
    .top-header-contenedor h1{
        font-size: 3rem;
    }
    .header{
        justify-content: start;
        background-color: #c7c7c7;
        width: 100vw;
    }
    .section-promociones article{
        margin-top: 2rem;
    }
    .contenedor-nav{
        margin-right: 1rem;
    }
    #boton{
        padding: 1rem 1rem 1rem 2rem;
    }
    #boton button{
        width: 6rem;
        height: 4rem;
        margin-left: 4rem;
    }
    #boton span{
        font-size: 2rem;
    }
    .contenedor-ul a{
        color: #000;
        font-size: 3rem;
    }
    .contenedor-ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .contenedor-form{
        display: none;
    }
    .top-header{
        display: flex;
        justify-content: center;
    }
    .top-header-contenedor h1{
        font-size: 3.6rem;
    }
    .productos{
        justify-content: center;
    }
    .footer-body-direccion{
        text-align: start;
    }
}
@media (max-width:576px){
    .contenedor-ul{
        margin-right: 28rem;
    }
    .section-promociones{
        display: flex;
        flex-wrap: wrap;
    }
    .top-header h1{
        font-size: 3rem;
    }
}