*{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: granRegular;
}
body{
    overflow-x: hidden;
}
.top-header{
    background-color: #000;
    display: grid;
    height: 6.5rem;
    align-items: center;
    border-top: 0.2rem solid #c7c7c7;
}
.contenedor-titulo{
    text-align: center;
}
.contenedor-redes{
    display: flex;
    align-items: flex-start;
    font-size: 3rem;
    color: #c7c7c7;
}
.contenedor-redes img{
    width: 2.8rem;
}
.contenedor-redes a{
    margin-left: 2rem;
}
.contenedor-form input{
    height: 3.9rem;
    font-size: 1.7rem;
    width: 30rem;
}
.contenedor-form button{
    width: 9rem;
    font-size: 1.7rem;
}
.header{
    background-color: #252525;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    position: sticky;
    top: 0rem;
}
.header nav{
    padding: 0rem;
}
.header a{
    color: #c7c7c7;
}
.ul-nav li{
    padding: 0.2rem 7rem 0.2rem 7rem;
    font-size: 2.2rem;
    border-right: 1px solid #c7c7c7;
}
.ul-nav:nth-child(1){
    border-left: 1px solid #c7c7c7;
}
a{
    text-decoration: none;
    color: #c7c7c7;
}
.section-carousel{
    margin-top: 0rem;
    padding: 0rem;
    margin-bottom: 8rem;
}
.section-promociones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.section-promociones p{
    font-family: Rubik , sans-serif;
}

.section-promociones article{
    display: flex;
    align-items: center;
}
.section-promociones img{
    width: 5.5rem;
    height: 6rem;
    margin-right: 1rem;
}
.div{
    width: 18rem;
    font-size: 2rem;
}
.div-diferent{
    width: 19rem;
    font-size: 2rem;
}
.productos{
    display: flex;
    justify-content: center;
}
.productos h2{
    margin-top: 7rem;
    text-align: center;
    font-size: 3rem;
}
.productos article{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 4rem;
    width: 27rem;
}
.productos img{
    width: 23rem;
}
.productos p{
    font-size: 1.6rem;
    text-align: center;
    font-family: Rubik , sans-serif;
}
.productos h3{
    text-align: center;
    color: red;
    margin-top: 1rem;
    font-family: Rubik , sans-serif;
}
.productos button{
    font-size: 1.3rem;
    height: 3.5rem;
    width: 10rem;
    margin-top: 1rem;
    margin-left: 1.8rem;
    margin-bottom: 2rem;
}
.footer{
    background-color: #000;
    margin-top: 5rem;
}
.footer-top{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 5rem;
    align-items: flex-start;
}
.footer-top a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-top p{
    font-size: 3.4rem;
    font-family: Rubik , sans-serif;
}
.footer-top input{
    width: 45rem;
    height: 4.5rem;
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}
.footer-top button{
    width: 45rem;
    height: 4rem;
    font-size: 2rem;
    background-color: #252525;
    text-align: center;
}
.footer-form{
    width: 50rem;
}
.footer-body{
    display: flex;
    justify-content: center;
    margin-bottom: 7rem;
    flex-wrap: wrap;
    color: #c7c7c7;
}
.footer-body-direccion{
    width: 30rem;
    font-size: 2.5rem;
}
.footer-body-contacto{
    margin-left: 20rem;
    width: 44rem;
    font-size: 2.4rem;
    padding-top: 2rem;
}
.footer-final{
    background-color: #252525;
    font-size: 2rem;
    color: #c7c7c7;
    text-align: center;
}
@media (max-width:1200px){}
@media (max-width:992px){
    .contenedor-titulo{
        display: flex;
        justify-content: center;
        padding: 0rem;
    }
    .top-header div{
        padding: 0;
    }
    .top-header h1{
        font-size: 3.6rem;
    }
    .contenedor-form{
        display: none;
    }
}
@media (max-width:720px){
    .header{
        justify-content: end;
    }
    #boton{
        justify-content: end;
    }
    .contenedor-form{
        display: none;
    }
    .top-header{
        display: flex;
        justify-content: center;
    }
    .top-header div{
        padding: 0rem;
    }
    .top-header h1{
        font-size: 3.6rem;
    }
    .productos{
        justify-content: center;
    }
}
@media (max-width:576px){}